<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer</title>
</head>
<body>
    <h3> Offer Letter </h3>
    <p>Congratulations!</p>
    <p>On behalf of the company, I am very pleased to offer you to be the player on our team.</p>
    <p>This letter clarifies and confirms the basic salary belows: </p>
    <p>Your salary will be ${{ value }}, payable in accordance with the Company's 
        standard payroll practice and subject to applicable withholding taxes.</p>

    <p>We are very excited about the possibility of you joining us. I hope you can accept this offer.
    </p>
    <p>Sincerely, </p>
    <p>Recruiter </p>
</body>
</html>